* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  background: rgb(211, 211, 208);
}
header {
  display: grid;
  grid-template-columns: 6fr 1fr;
  background: rgb(63, 63, 63);
}
h1 {
  font-size: 60pt;
  color: white;
  font-family: "Indie Flower", cursive;
  text-align: center;
  background: rgb(27, 27, 27);
}
nav {
  font-family: sans-serif;
  font-size: 15pt;
  text-decoration: none;
  justify-self: left;
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(63, 63, 63);
}

nav a:link {
  text-decoration: none;
  color: white;
}
nav a:visited {
  text-decoration: none;
  color: white;
}
.mainAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 5px;
}
.mainAbout p {
  margin: 20px;
  text-align: justify;
}
h2 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  justify-self: center;
  margin-top: 10px;
}
.mainAbout img {
  width: 300px;
  margin-bottom: 10px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
footer img {
  width: 32px;
  height: 32px;
  margin: 10px;
}
.copyright {
  margin-left: 20px;
}
.pics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}
.pics img {
  width: 100px;
  padding: 20px;
}
