h1 {
  font-size: 60pt;
  color: white;
  font-family: Helvetica;
  text-align: center;
  background: black;

  width: 500px;
  display: inline-block;
}
nav {
  display: inline-block;

  width: 300px;
}
.opening {
  position: relative;
  width: 100%;
}
.para2 {
  position: relative;
  width: 100%;
}
.rectangle {
  display: inline-block;
  width: 200px;
  height: 300px;
  background-color: #466995;
}
